# Control Plane parameters
controlPlane:
  image: dimssss/wafie-control-plane:latest
  svc:
    name: wafie-control-plane
    port: 8080

# Discover Agent parameters
discoveryAgent:
  image: dimssss/wafie-control-plane:latest

# Application Security Gateway parameters
appSecGw:
  image: dimssss/wafie-appsecgw:latest

# Relay parameters
relay:
  image: docker.io/dimssss/wafie-relay:latest

# Shared configurations
config:
  apiAddr: ""

# PostgreSQL configurations
postgresql:
  global:
    security:
      allowInsecureImages: true
  image:
    repository: bitnamilegacy/postgresql
  auth:
    postgresPassword: "cwafpg"
    username: "cwafpg"
    password: "cwafpg"
    database: "cwaf"
  primary:
    persistence:
      size: 20Gi
  volumePermissions:
    enabled: false