
# base host which will be used as a base domain
# for different services
baseHost: ""

# Control Plane parameters
controlPlane:
  image: dimssss/wafie-control-plane:latest
  svc:
    name: wafie-control-plane
    port: 80

# Discover Agent parameters
discoveryAgent:
  image: dimssss/wafie-control-plane:latest

# Application Security Gateway parameters
appSecGw:
  image: dimssss/wafie-appsecgw:latest

# Relay parameters
relay:
  image: docker.io/dimssss/wafie-relay:latest

# Shared configurations
config:
  apiAddr: ""

# postgresql configurations
postgresql:
  global:
    security:
      allowInsecureImages: true
  image:
    repository: bitnamilegacy/postgresql
  auth:
    postgresPassword: "cwafpg"
    username: "cwafpg"
    password: "cwafpg"
    database: "cwaf"
  primary:
    persistence:
      size: 20Gi
  volumePermissions:
    enabled: false

opensearch:
  singleNode: true
  opensearch.yml: |
    cluster.name: opensearch-cluster
    network.host: 0.0.0.0
  extraEnvs:
    - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
      value: 8NybEHCU81IzgWhx
  persistence:
    enabled: true
