apiVersion: apps/v1
kind: Deployment
metadata:
  name: wafie-control-plane
  namespace: {{.Release.Namespace}}
  labels:
    app: wafie-control-plane
spec:
  selector:
    matchLabels:
      app: wafie-control-plane
  template:
    metadata:
      labels:
        app: wafie-control-plane
    spec:
      serviceAccountName: wafie-control-plane
      containers:
        - name: api-server
          image: {{.Values.image.api}}
          imagePullPolicy: Always
          command:
            - /usr/local/bin/api-server
            - start
            - --db-host={{.Release.Name}}-postgresql
          ports:
            - name: api-server
              containerPort: 8080
          readinessProbe:
            grpc:
              port: 8080
          livenessProbe:
            grpc:
              port: 8080
        - name: discovery-agent
          image: {{.Values.image.api}}
          imagePullPolicy: Always
          command:
            - /usr/local/bin/discovery-agent
            - start
          readinessProbe:
            grpc:
              port: 8081
          livenessProbe:
            grpc:
              port: 8081
        - name: gateway
          image: {{.Values.image.gateway}}
          imagePullPolicy: Always
          ports:
            - name: appsecgw-control-plan-grpc-srv
              containerPort: 18000
          volumeMounts:
            - mountPath: /data/audit
              name: gateway-audit-data
          readinessProbe:
            grpc:
              port: 8082
          livenessProbe:
            grpc:
              port: 8082
        - name: fluent-bit
          image: cr.fluentbit.io/fluent/fluent-bit:4.0.3
          imagePullPolicy: IfNotPresent
          args:
            - -c
            - /fluent-bit/etc/fluent-bit.yaml
          volumeMounts:
            - mountPath: /data/audit
              name: gateway-audit-data
            - mountPath: /fluent-bit/etc/fluent-bit.yaml
              name: fluent-bit-config
              subPath: fluent-bit.yaml
      volumes:
      - name: gateway-audit-data
        emptyDir: {}
      - name: fluent-bit-config
        configMap:
            name: fluent-bit-config



